*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
/* HEADER */
header {
  height: 10rem;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  max-width: 114rem;
  margin: auto;
  align-items: center;
}
.logo {
  width: 10rem;
}
.logo-img {
  width: 8rem;
  height: 8rem;
  background-color: #b28756;
}
.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.menu ul,
.menu li {
  list-style: none;
}
.menu ul {
  display: flex;
}
.menu li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.menu li a:hover {
  border-bottom: 3px solid #b28756;
  color: #ccc;
}
.menu .active a {
  border-bottom: 3px solid #b28756;
  color: #ccc;
}

/* BANNER */

.banner {
  height: calc(100vh - 10rem);
  background-color: #333;
  background-image: url("/assets/images/bg.jpg");
  background-size: cover;
  background-position: bottom;
}