*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* HEADER */
header {
  height: 10rem;
  background-color: #000;
  color: #fff;
}
.header {
  display: flex;
  max-width: 114rem;
  margin: auto;
  align-items: center;
}
.logo {
  width: 10rem;
}
.logo-img {
  width: 8rem;
  height: 8rem;
  background-color: #b28756;
}
.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}